@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Inter,
    density: 0
  ));
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
  background: #f5f7fb;
  color: #1f2937;
}

body {
  font-family: Inter, sans-serif;
}
